<div class="container">
  <div class="header">
    <div>
      Search @Twitter
    </div>

    <div> Auto Refresh in {{timer}} Secs</div>
  </div>

  <div class="row mt-4 justify-content-sm-center">
    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)] ="enteredValue">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="submit()">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>